.navbar {
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

              
    width: 100%;
    

    /* 👇 Dette fikser den brutale kanten */
    -webkit-mask-image: linear-gradient(
        to bottom,
        black 70%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        black 70%,
        transparent 100%
    );
}

.nav1{
    padding-left: 50px;
}

.nav2{
    padding-right: 50px;
    display: flex;
    
}

