@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'Overpass', sans-serif;
}

h1 {
    font-family: 'Outfit', sans-serif;
    text-shadow: 0 4px 10px rgba(0,0,0,0.4);
}


.section1{
    height: 300vh;

    background-image: url(images/fjell.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
    gap: 40px;
}

.boks{
    width: 500px;
    height: 700px;
    background-color: white;
    border-radius: 50px;
    margin-top: 1250px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 10px 10px 5px rgb(54, 54, 54);
    text-align: center;
    flex-direction: column;
    align-items: center;
}




.overskrift{
    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    color:white;

    font-size:70px;
    text-align: center;
}

.boks h2{
    color: #1f5f99;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 30px;
}

.boks p{
    padding-bottom: 30px;
    max-width: 400px;
}

.boks ol{ 
    max-width: 400px;
}

.dest{
    padding-top: 70px;
}

.dest h1{
    text-decoration: underline ;
}

.dest a{
    text-decoration: none;
}

.dest h2 {
    color: white;
    background-color: #1f5f99;
    border-radius: 30px;
    padding: 14px 45px;
    margin: 15px 0;
    transition: 0.3s ease;
}

.dest h2:hover {
    background-color: #163f66;
    transform: scale(1.05);
}

.blaa{
    color: #00205B;

}

.rod{
    color: #BA0C2F;
}