@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'Overpass', sans-serif;
}

h1 {
    font-family: 'Outfit', sans-serif;
}


.section1 {
    height: 300vh;

    background-image: url(images/fjell.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding-top: 250px;

    gap: 40px;
}

.boks {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 50px;
    margin-top: 1250px;
    display: flex;
    justify-content: center;
}




.overskrift{
    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    color:white;

    font-size:70px;
    text-align: center;
}

.boks h1{
    margin-top: 40;
}